<div class="footer fixed-bottom mt-5">
<hr width="100%" align="LEFT">
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p class=> ©2000 Le Wagon market place company .</p>
  </div>
</div>
