
<div class="text-center"><h1><strong>HOME<strong></h1></div>



<div id="carouselExampleControls" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "category-chairs.jpg", alt: "imagem escritório",class: "d-block w-10"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "category-lounge-seating.jpg", alt: "imagem escritório",class: "d-block w-10"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "category-work-from-home2.jpg", alt: "imagem escritório",class: "d-block w-10"%>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!-- Bootstrap JavaScript library -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
</body>
