<div class="container">

<h1>Offers</h1>

<div id="offers">
  <% @offers.each do |offer| %>
    <%= offer.product_id %>
    <p>
      <%= link_to "Show this offer", offer %>
    </p>
  <% end %>
</div>
</div>
