.card-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card-product {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: 20px;
  // flex-grow: 1;
}

.card-product-home {
  overflow: hidden;
  max-height: 200px;
  max-width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 75px;
  // flex-grow: 1;
}

.card-product img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-create-btn {
  margin: 12px;
  margin-bottom: 75px;
  text-align: center;
}

.product-info {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-body {
  margin-left: 45px;
}

.card-body-2 {
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-image {
  padding: 20px;
  margin: 45px 0 0 45px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
