.login-box {

  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin-top: 50px;
      margin-bottom: 150px;
      padding: 40px;
      background: transparent;
      box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
      border-radius: 10px;
}
.bn60 {
  background-color: #190c8d;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 200;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 160px;
}
.login-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 120px;
  margin-bottom: 150px;
  margin-left: 500px;
  padding: 40px;
  background: transparent;
  box-shadow: 0 15px 25px rgb(255, 255, 255);
  border-radius: 10px;
}
.login-box2 h1{
  color: white;
}
.form-inputs2{
  color: white;
}
.login-box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 150px;
  padding: 40px;
  background: transparent;
  box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
  border-radius: 10px;
}
