.navbar-lewagon {
  justify-content: space-between;
  background: white;
  max-height: 53px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: black;
}

.logo {
  font-family: 'Galindo', cursive;
  font-size: 35px;
  margin-top: 16px;
}
