<h1>aaaaaaaaaaa</h1>
<div id="products">
          fazer um card
  <% @products.each do |product| %>
    <%= product.title %>
    <%= product.price %>
    <%foto = product.photo%>
    <%#= image_tag(foto, draggable: "true", id: "drag1") %>
    <p>
      <%= link_to "Show this product", product, class: 'btn btn-dark' %>

    </p>
  <% end %>
  <%= link_to "Create Product", new_product_path, class: 'btn btn-danger' %>
</div>
